.bit-page {
  margin: 0 auto;
  padding: 1rem 0 2rem;
  max-width: var(--page-width);
}

@media screen and (min-width: 48rem) {
  .bit-page {
    padding: 2rem 0 3rem;
  }
}

@media screen and (min-width: 64rem) {
  .bit-page {
    padding: 4rem 0 8rem;
  }
}
