.bit-container {
}

.bit-actions {
  display: flex;
  align-items: center;
  margin-bottom: 0.125rem;
  gap: 1rem;
}

.bit-actions button,
.bit-actions .button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-size: 0.8125rem;
  font-weight: bold;
  color: rgba(0 0 0 / 0.55);
  text-decoration: none;
}

.bit-actions button:hover,
.bit-actions .button:hover {
  color: var(--primary);
}

.bit-created-at {
  font-size: 0.8125rem;
  color: rgba(0 0 0 / 0.6);
  display: block;
  margin-right: auto;
}

.bit-content {
  padding: 0 1.25rem;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
  border-radius: 8px;
  word-wrap: break-word;
  line-height: 1.5;
}

.bit-content p {
  margin: 1em 0;
}

.bit-content :is(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 1rem;
}

.bit-content h1 {
  font-size: 2em;
  margin: 1em 0 0.75em;
}

.bit-content h2 {
  font-size: 1.5em;
  margin: 1em 0 0.5em;
}

.bit-content h3 {
  font-size: 1.25em;
  margin: 1.25em 0 0.75em;
}

.bit-content h4 {
  font-size: 1.125em;
  margin: 1.5em 0 0.75em;
}

.bit-content h5,
.bit-content h6 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.bit-content h5 {
  font-size: 0.875em;
}

.bit-content h6 {
  font-size: 0.8125em;
}

.bit-content table {
  border-collapse: collapse;
  margin: 0 1rem;
}

.bit-content thead {
  border-bottom: 2px solid rgba(0 0 0 / 0.15);
}

.bit-content :is(th, td) {
  text-align: left;
  padding: 0.25rem 1rem;
}

.bit-content th {
  color: rgba(0 0 0 / 0.6);
}

.bit-content [align="center"] {
  text-align: center;
}

.bit-content [align="right"] {
  text-align: right;
}

.bit-content td {
  border-top: 1px solid rgba(0 0 0 / 0.15);
}

.bit-content :is(th, td):first-child {
  padding-left: 0;
}

.bit-content :is(th, td):last-child {
  padding-right: 0;
}
